.graph-page {
  background-color: #f3f3f3; 
}

.node {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #0a0a0a;
  transition: 0.2s all;
}

.node:hover {
  font-size: 20px;
  
  cursor: pointer;
}

.node-target {
  
}

.node-source {
  
}

.node-not-selected {
  opacity: 0.2;
}

.link {
  stroke: #58f;
  stroke-opacity: .1;
  fill: none;
}

.link-target,
.link-source {
  stroke-opacity: 1;
  stroke-width: 2px; 
}

.link-target {
  stroke: #f99;
}

.link-source {
  stroke: #9f9;
}

.link-not-selected {
  opacity: 0.1; 
}